{{ define "main" }}

<!-- jumbotron -->
<div class="jumbotron" style="background-image: url({{ .Params.featuredImage.url }}?w=1920&q=60)">
    <div class="image-overlay"></div>
    <div class="content-container">
        <a href="/" class="go-back">Go Back</a>
        <h1 class="display-4">{{ .Title }}</h1>
        <div class="tags">
            {{ range .Params.tags }}
                <a href="/tags/{{ . | urlize }}" class="btn btn-outline-light btn-sm">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</div>

<!-- main content -->
<main>
    <div class="content-container">
        <!-- pass the rich text field into the partial along with $.Site -->
        {{ partial "rich-text.html" (dict "This" .Params.mainContent "Site" $.Site) }}
    </div>
</main>
{{ end }}