node_modules
/content
data
/layouts
.env
resources
public
contentful-settings.**.yaml
contentful-settings.yaml
contentful-hugo.config.js
contentful-hugo.config**.js
contentful-hugo.yaml
!examples/**/contentful-settings.yaml
coverage
dist
