node_modules
/content
data
/.temp
/layouts
.env
resources
public
contentful-settings.**.yaml
contentful-settings.yaml
contentful-hugo.config.js
contentful-hugo.config**.js
contentful-hugo.yaml
!examples/**/contentful-settings.yaml
!examples/**/contentful-hugo.config.js
coverage
dist
examples/multilingual-example
.contentful-hugo
