<!--
    For all entries you have access to the following parameters through .Get
    "id", "contentType", and "parentContentType"
-->

<!-- replace with your own custom modules -->
<div style="
    background: darkred;
    color: white;
    border-radius: 5px;
    padding: 25px; margin-bottom: 1rem">
    <div><strong>Unconfigured Embedded Entry</strong></div>
    <div>id: {{ .Get "id" }}</div>
    <div>contentType: {{ .Get "contentType" }}</div>
    <div>parentContentType: {{ .Get "parentContentType" }}</div>
</div>
