* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 18px;
}

.content-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.node-not-found {
    padding: 2rem;
    background: rgb(168, 0, 0);
    color: white;
    margin: 2rem 0;
}

.node-not-found .title {
    /* text-decoration: underline; */
}

.node-not-found .subtitle {
    font-size: 0.8rem;
}

img {
    max-width: 100%;
}

figure {
    margin: 2rem 0;
}

/* header */
header {
    /* background: rgb(240, 240, 240); */
    /* margin-bottom: 2rem; */
}

header nav {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    padding: 2rem 0;
}

header nav .logo {
    text-align: center;
    font-weight: bold;
    color: #333333;
}

header nav .logo:hover {
    text-decoration: none;
    opacity: 0.8;
}

header nav .logo .title {
    font-size: 2rem;
}

/* jumbotron */
.jumbotron {
    position: relative;
    color: white;
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
}

.jumbotron .content-container {
    position: relative;
}

.image-overlay {
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.go-back {
    display: block;
    color: white;
    margin-bottom: 1rem;
    opacity: 0.6;
}

.go-back:hover {
    color: white;
}

.tags {
    padding-top: 1rem;
}

.content-container article {
    margin: -1rem;
}

article a {
    color: #333333;
    display: block;
    padding: 1rem;
}

article a:hover {
    color: #333333;
    text-decoration: none;
    opacity: 0.8;
}

article a:hover .media-title {
    /* color: blue; */
}

hr {
    color: inherit
}