<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{ $css := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    <style>
        blockquote {
            padding-left: 10px;
            border-left: 10px solid lightgrey;
        }
    </style>
    <title>{{ .Title }}</title>
</head>
<body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
        <!-- main content goes here -->
    {{ end }}
</body>
</html>
