{{- $Site := .Site -}}
{{- range .This -}}
    <!-- set which partial we want to call depending on node type 
    (ex. paragraph, header-1, hyperlink, embedded-entry-block, etc...) -->
    {{- $partial := print "rich-text/standard-blocks/" .nodeType ".html" -}}
    <!-- check if the partial exists -->
    {{- $partialCheck := print "layouts/partials/" $partial -}}
    {{- if fileExists $partialCheck -}}
        <!-- call partial if it exists -->
        {{- partial $partial (dict "This" . "Site" $Site ) -}}
    {{- else -}}
        <!-- call the node-not-found partial if it doesn't exist -->
        {{- partial "rich-text/node-not-found.html" (dict "Template" .nodeType "Directory" "standard-blocks") -}}
    {{- end -}}
{{- end -}}